= simple_form_for(@parcel) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :icon
    = f.input :description
    = f.input :x
    = f.input :y

  .form-actions
    = f.button :submit
