= simple_form_for(@parcel) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    %br
    %br
    latitude
    = f.input :latitude
    longitude
    = f.input :longitude
    %br
    %br
    Icon name for map
    = f.input :icon
    Image name for show page
    = f.input :imagename
    %br
    %br
  .form-actions
    = f.button :submit
