- data_name = "Protect one acre of #{@parcel.title} Habitat"
#parcel
  #donate
    %script{"data-amount" => "0","data-name" => data_name, "data-button" => "donate","data-currency" => "USD","data-env" => "sandbox","data-shipping" => "0","data-tax" => "0",:src => "../paypal-button.min.js?merchant=payment@acrecare.org"}
    /=link_to_function "Back", "history.back()", :id=> 'button'

  #title
    =image_tag "#{@parcel.icon}"
    #{@parcel.title}

  #short_description
    = "#{@parcel.short_description}"

  #description_top
    = "#{@parcel.short_description} #{@parcel.description}"


  #image
    -if @parcel.imagename.include? 'png' or @parcel.imagename.include? 'jpg' or @parcel.imagename.include? 'jpeg'
      =image_tag @parcel.imagename
    -else
      %iframe{:id => "video",:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "yes", :src =>  @parcel.imagename, :webkitallowfullscreen => "yes"}


  #description_bottom
    = "#{@parcel.description}"

  %br
  =link_to_function "Back", "history.back()", :id=> 'button'



