%script{"data-amount" => "40",
        "data-button" => "donate",
        "data-currency" => "USD",
        "data-env" => "sandbox",
        "data-name" => "Protect an Acre for 40 Years",
        "data-shipping" => "0",
        "data-tax" => "0",
        "data-callback"=> "http://gentle-earth-9200.herokuapp.com/thanks",
        :src => "paypal-button.min.js?merchant=chielo@coshx.com"}

%p#notice= notice

%p
  %b Title:
  = @parcel.title
%p
  %b Icon:
  = @parcel.icon
%p
  %b Description:
  = @parcel.description

= link_to 'Edit', edit_parcel_path(@parcel)
\|
= link_to 'Back', parcels_path
