- data_name = "Protect #{@parcel.title}."
#parcel
  #backbutton
    =link_to_function "Back", "history.back()", :id=> 'button'
  /%script{"data-amount" => "0.01","data-name" => data_name, "data-button" => "donate","data-currency" => "USD","data-env" => "www","data-shipping" => "0","data-tax" => "0",:src => "../paypal-button.min.js?merchant=acrecare@amazonaid.org"}
  #title
    =image_tag "#{@parcel.icon}"
    #{@parcel.title}
  #protectbutton
    =link_to "Protect #{@parcel.title}!", '/donations/new', :id=> 'yellowbutton'
  %br
  %br
  #short_description
    = "#{@parcel.short_description}"

  #description_top
    = "#{@parcel.short_description} #{@parcel.description}"


  #image
    -if @parcel.imagename.include? 'png' or @parcel.imagename.include? 'jpg' or @parcel.imagename.include? 'jpeg'
      =image_tag @parcel.imagename
    -else
      %iframe{:id => "video",:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "yes", :src =>  @parcel.imagename, :webkitallowfullscreen => "yes"}


  #description_bottom
    = "#{@parcel.description}"

  %br
  =link_to_function "Back", "history.back()", :id=> 'button'



