%script{"data-amount" => "40", "data-button" => "donate", "data-currency" => "USD", "data-env" => "sandbox", "data-name" => "Protect One Acre for 40 Years for $40", "data-shipping" => "0", "data-tax" => "0", :src => "paypal-button.min.js?merchant=chielo@coshx.com"}
hello

%p#notice= notice

%p
  %b Title:
  = @parcel.title
%p
  %b Icon:
  = @parcel.icon
%p
  %b Description:
  = @parcel.description

= link_to 'Edit', edit_parcel_path(@parcel)
\|
= link_to 'Back', parcels_path
