#parcel
  #title
  #{@parcel.title}
  %br
  #{@parcel.description}
  %br
  %br
  %br
  - data_name = "Protect #{@parcel.title} for 40 years"
  #donate_button
    %script{"data-amount" => "40","data-name" => data_name, "data-button" => "donate","data-currency" => "USD","data-env" => "sandbox","data-shipping" => "0","data-tax" => "0",:src => "../paypal-button.min.js?merchant=chielo@coshx.com"}
  %br
  = "Regional Cordinates: #{@parcel.latitude}, #{@parcel.longitude }"
  %br
  /= @parcel.description
  /%p#notice= notice
  =image_tag @parcel.imagename, width:'100%'
  %br
  =link_to_function "Back", "history.back()"
  %br
