#thanks
  %p
  #light.white_content
    =image_tag '4.gif', :id => 'spinner'
  #fade.black_overlay
    #text
      Generating Certificate PDF
  #share
    %center
      %br
      #social_media_links
        .fb-like{"data-font" => "tahoma", "data-href" => "http://www.amazonaid.org/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
        %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "Named an acre of Amazon rain forest for protection and conservation", "data-url" => "http://www.amazonaid.org/", "data-via" => "", :href => "https://twitter.com/share"} Tweet
        %g:plusone

  #thankyoumessage
    %h1 Thank You

  #paypalmessage
    Your transaction has been completed, and a receipt for your donation has been emailed to you. You may log into your account at www.paypal.com/us to view details of this transaction.
    %br
    %br

  #certificateform
    #form
      #text
        /eCard Detail
        = simple_form_for :certificate do |f|  #see certificate.js - pages#certificate
          .form-inputs
            = 'ACRE NAME'
            = f.input :acrename, :placeholder => 'NAME THE ACRES WHICH YOU SAVED', :input_html => { :value =>  @donation.acrename}, :label => false, :required=> false

            = 'eCard RECIPIENT FIRST NAME'
            = f.input :recipient_firstname, :placeholder => '', :label => false,  :input_html => { :value =>  @donation.recipient_firstname}

            = 'eCard RECIPIENT LAST NAME'
            = f.input :recipient_lastname, :placeholder => '', :label => false,  :input_html =>  { :value =>  @donation.recipient_lastname}, :required=> false

            = 'eCard RECIPIENT EMAIL ADDRESS'
            = f.input :recipientemail, :placeholder => '', :input_html => { :value =>  @donation.recipient_email}, :label => false, :required=> false

            /= 'PERSONALIZED MESSAGE FOR ECARD'
            /= f.text_area :personalizedmessage, :placeholder => '', :label => false, :required=> false
          .form-actions
            = f.button :submit, 'Download Certificate', :class=> 'generate_btn'
            = f.button :submit, 'Email Certificate eCard', :class=> 'ecard_btn'

    #share
      %center
        %br
        #social_media_links
          .fb-like{"data-font" => "tahoma", "data-href" => "http://www.amazonaid.org/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
          %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "Named an acre of Amazon rain forest for protection and conservation", "data-url" => "http://www.amazonaid.org/", "data-via" => "", :href => "https://twitter.com/share"} Tweet
          %g:plusone
        %br
        %br
        %br
        %br



