%p#notice= notice
- parcel_name =  cookies[:parcel_name]
#donation
  %p
  #donationlabel
    %h1
  #donationmessage
    /%h3 Each $50 donation will preserve 1 acre for 40 years
  #donationform
    #form
      #text
        Donation Detail
        - unless parcel_name.nil? || parcel_name.empty?
          #parcel_name_label
            /= parcel_name


        = simple_form_for @donation, :html => {:validate => 'true'} do |f|  #see certificate.js - pages#certificate
          .form-inputs
            = f.input :parcel, :as => :hidden, :input_html => { :value => parcel_name }
            = f.input :donor_firstname, :placeholder => 'YOUR FIRST NAME', :label => false, :required=> true
            = f.input :donor_lastname, :placeholder => 'YOUR LAST NAME', :label => false, :required=> true
            = f.input :donor_email, :placeholder => 'YOUR EMAIL ADDRESS', :label => false, :required=> true
            /-unless(data_name.blank?)
            /  = f.collection_select :parcel, Parcel.all, :title, :title , :selected => data_name
            %br
            = f.select :numberofacres, options_for_select([['Save One Acre For Forty Years: $50',1],['Save Two Acres For Forty Years: $100',2]])
            %br
            %br
            %br
            =f.hint 'Send Acre Certificate as a Gift?'
            = f.check_box :gift, :style => "width: 20px; height: 20px;", :checked=>true
            %br
            %br
            %br
            %br
            = f.hint 'Gift eCard Detail', :id => 'ecarddetailhint'
            = f.input :acrename, :placeholder => 'ACRE NAME (NAMED IN HONOR OF)', :label => false, :required=> true
            = f.input :recipient_email, :placeholder => 'GIFT RECIPIENT EMAIL ADDRESS (FOR ECARD)', :label => false, :required=> true
            /= f.text_area :message, :placeholder => 'SHORT PERSONALIZED MESSAGE', :label => false, :required=> false, :maxlength => 135
            = f.input :recipient_firstname, :placeholder => 'GIFT RECIPIENT FIRST NAME', :label => false, :required=> false
            = f.input :recipient_lastname, :placeholder => 'GIFT RECIPIENT LAST NAME', :label => false, :required=> false
          .form-actions
            = f.button :submit, 'Next', :id => :nextbutton
        /#donate
        /%script{"data-amount" => "0.01","data-name" => data_name, "data-button" => "donate","data-currency" => "USD","data-env" => "www","data-shipping" => "0","data-tax" => "0",:src => "../paypal-button.min.js?merchant=acrecare@amazonaid.org"}
        %br
        %br
        %br
    #backbutton
      =link_to "Back",'/', :id=> 'button'
    %br
    %br
