#show_donation
  #donationform
    #form
      #text
        %p
          %b Your Name:
          = "#{@donation.donor_firstname} #{@donation.donor_lastname}"
          %br
          %b Your email:
          = @donation.donor_email
          %br
          %b Pledge:
          = "$#{@donation.numberofacres*50} to protect #{@donation.numberofacres} acre for forty years"

          %br
          -unless @donation.parcel.empty?
            %b Area of interest:
            ="#{@donation.parcel}"
          %br
          %br
          %b Please use paypal to securely make your donation

          %br
          %br
          = link_to 'Back', edit_donation_path(@donation)
          %br
          %br
          -product = "$#{@donation.numberofacres*50} to protect #{@donation.numberofacres} acres in the Amazon Rainforest for forty years"

          %script{"data-amount" => @donation.numberofacres*50,"data-name" => product, "data-button" => "donate","data-currency" => "USD","data-env" => "www","data-shipping" => "0","data-tax" => "0",:src => "../paypal-button.min.js?merchant=acrecare@amazonaid.org"}
