!!!
%html
  %head
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Acre+Care"
      %meta{:content => content_for?(:description) ? yield(:description) : "Acre+Care", :name => "description"}
        = javascript_include_tag "application"
        = javascript_include_tag "leaflet"
        = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
        = javascript_include_tag "jquery.fileDownload-min.js"
        = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
        = stylesheet_link_tag "leaflet"
        = stylesheet_link_tag "application", :media => "all"

        /[if lte IE 8]
          = stylesheet_link_tag "leaflet.ie.css"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #fb-root
    :javascript
      //facebook
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    :javascript
      //twitter
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    %header
      = render 'layouts/header'
      = render 'layouts/messages'
    #main{:role => "main"}
      = yield
    %footer
    / ! end of #container
